html, body { 
    margin: 20px; 
    padding: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #fdfcf9, #f3ede8); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


hr {
    width: 60%;
    margin: 20px auto;
    border: none;
    border-top: 2px solid #d1c4b3;
}

#board {
    width: 400px;
    height: 400px;
    background-color: #bdad98;
    border: 6px solid #9b8776;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tile {
    width: 90px;
    height: 90px;
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
    transform: scale(1);
    background-color: rgba(238, 228, 218, 0.35);
}

.tile.merged {
    animation: merge 0.2s;
}

@keyframes merge {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tile.x2 { background-color: #eee4da; color: #776e65; }
.tile.x4 { background-color: #ede0c8; color: #776e65; }
.tile.x8 { background-color: #f2b179; color: #f9f6f2; }
.tile.x16 { background-color: #f59563; color: #f9f6f2; }
.tile.x32 { background-color: #f67c5f; color: #f9f6f2; }
.tile.x64 { background-color: #f65e3b; color: #f9f6f2; }
.tile.x128 { background-color: #edcf72; color: #f9f6f2; }
.tile.x256 { background-color: #edcc61; color: #f9f6f2; }
.tile.x512 { background-color: #edc850; color: #f9f6f2; }
.tile.x1024 { background-color: #edc53f; color: #f9f6f2; }
.tile.x2048 { background-color: #edc22e; color: white; }

button {
    background: #ffcc00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: #e6b800;
}
